[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ???????????????????????????????????????????????view?????????????????android MVC??,listview,RecyclerView,refresh,loadmore
[access "refs/*"]
	owner = group user/sywgzh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sywgzh
	label-Verified = -1..+1 group user/sywgzh
	push = group user/sywgzh
	read = group user/sywgzh
	rebase = group user/sywgzh
	removeReviewer = group user/sywgzh
	submit = group user/sywgzh
[access "refs/heads/*"]
	create = group user/sywgzh
	push = +force group user/sywgzh
	pushMerge = group user/sywgzh
	read = group user/sywgzh
[access "refs/tags/*"]
	push = group user/sywgzh
	push = +force group user/sywgzh
